 {{define "footer"}}
    </main>

    <footer>
        <div class="bg-primary text-white text-center py-2" >
           <p>&copy; 202502 <a href="https://github.com/fextsdg" class="text-warning stretched-link">fextsdg</a></p>
        </div>
    </footer>

  </body>
</html>
{{end}}