 {{define "footer"}}
    </div>
    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </main>

    <footer>
        <div class="bg-primary text-white text-center py-2" >
          &copy; 202502 <a href="https://github.com/fextsdg" class="text-warning">fextsdg</a>
        </div>
    </footer>

  </body>
</html>
{{end}}